<div id="app">
    <div class="container" style="width: 1366px;">
      <div class="columns is-gapless">
    <div class="column is-3">
      <%- include ('./partials/navbar.ejs') %>
    </div>
    <div class="column is-white pd-2">
      <div class="wrapper">
        <div class="wrapper_main">
          <div class="wrapper_content">
            <h1 class="title custom-color">Dashboard</h1>
          </div>
          <div class="media-left night-mode">
            <img id="change-mode" class="night-mode" src="night.svg" alt="this is for night mode">
          </div>
        </div>
        
        <hr>

        <%- include ("./partials/defaultCard.ejs") %>

        <% if(user.username == "admin_12245") { %>
            <% allusers.forEach(eachUser => { %>
              <% if(eachUser.username !== "admin_12245") { %>
                <div class="box">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src="<%= eachUser.avatar_url%>" alt="Image" id="box_image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                      <p class="content_para">
                        <strong><%= eachUser.username %></strong> <small>@<%= eachUser.username %></small>
                        <br> 
                        <strong>Email: </strong><%= eachUser.email%>
                      </p>
                      </div>
                      <nav class="level is-mobile">
                          <div class="level-left">
                            <a class="level-item" aria-label="reply">
                              <img src="hearts.svg" class="image is-24x24">
                            </a>
                            <a class="level-item" aria-label="retweet">
                              <img src="writing.svg" class="image is-24x24">
                            </a>
                            <form action="/adminDelete/<%= eachUser._id %>?_method=DELETE" method="POST" id="admin_delete">
                              <a class="level-item" aria-label="like" id="<%= eachUser._id %>">
                                <input type="image" src="bin.svg" class="image is-24x24" ></input>
                              </a>
                            </form>                  
                          </div>
                      </nav>
                    </div>
                  </article>
                </div>
              <% } %>
            <% }) %>
        <% }else { %>
          <% ideas.forEach(idea => { %>
            <% if(idea.favIdea != true) { %>
              <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <img src="graphic-design.svg" alt="Image" id="box_image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                    <p class="content_para">
                      <strong><%= idea.title%></strong> <small>@<%= user.username %></small><small class="deletedIdea"><%= idea.date %></small>
                      <br> 
                      <%= idea.description %>
                    </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                          <form action="/favIdea/<%= idea._id %>" method="GET">
                            <a class="level-item" aria-label="reply">
                              <input type="image" src="hearts.svg" class="image is-24x24" id="hearts">
                            </a>
                          </form>
                          <a class="level-item" href="/editIdea/<%= idea._id %>" aria-label="retweet">
                            <img src="writing.svg" class="image is-24x24">
                          </a>
                      
                          <form action="/deleteIdea/<%= idea._id%>?_method=DELETE" method="POST">
                            <a class="level-item" aria-label="like">
                              <input type="image" src="bin.svg" class="image is-24x24"></input>
                            </a>      
                          </form>
                        </div>
                    </nav>
                  </div>
                </article>
              </div>
            <% }else { %>
              <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <img src="positive-vote.svg" alt="Image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p class="content_para">
                        <strong><%= idea.title%></strong> <small>@<%= user.username %></small><small class="deletedIdea"><%= idea.date %></small>
                        <br> 
                        <%= idea.description %>
                      </p>
                    </div>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <form action="/unFavIdea/<%= idea._id %>" method="GET">
                          <a class="level-item" aria-label="reply">
                            <input type="image" src="negative-vote.svg" class="image is-24x24" id="hearts">
                          </a>
                        </form>
                        <a class="level-item" href="/editIdea/<%= idea._id %>" aria-label="retweet">
                          <img src="writing.svg" class="image is-24x24">
                        </a>
                    
                        <form action="/deleteIdea/<%= idea._id%>?_method=DELETE" method="POST">
                          <a class="level-item" aria-label="like">
                            <input type="image" src="bin.svg" class="image is-24x24"></input>
                          </a>      
                        </form>
                      </div>
                  </nav>
                  </div>
                </article>
              </div>
            <% } %>
          <% }) %>
        <% } %>
    </div>
  </div>
</div>