<div id="app">
    <div class="container" style="width: 1366px;">
      <div class="columns is-gapless">
    <div class="column is-1">
      <%- include ('./partials/navbar.ejs') %>
    </div>
    <div class="column is-white pd-2">
      <div class="wrapper">
        <div class="notification is-warning">
            <button class="delete"></button>
            Ideas will get deleted in 1 day
        </div>
            <% deletedIdeas.forEach(idea => { %>
                <% if(idea.favIdea != "true") { %>
                    <div class="box">
                        <article class="media">
                          <div class="media-left">
                            <figure class="image is-64x64">
                              <img src="graphic-design.svg" alt="Image" id="box_image">
                            </figure>
                          </div>
                          <div class="media-content">
                            <div class="content">
                            <p class="content_para">
                              <strong><%= idea.title %></strong> <small>@<%= user.username %></small>
                              <small class="deletedIdea"><%= idea.date%></small>
                              <br>
                              <%= idea.description %>
                            </p>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                  <form action="/undoIdea/<%= idea._id %>" method="POST" id="undo_idea">
                                    <a class="level-item" aria-label="retweet">
                                      <input type="image" src="undo.svg" class="image is-24x24"></input>
                                    </a>
                                  </form>
                                  <form action="/trash/<%= idea._id %>?_method=DELETE" method="POST" id="permanent-delete" class="permanent_class">
                                    <a class="level-item" aria-label="like" id="<%= idea._id %>">
                                      <input type="image" src="paper-shredder.svg" class="image is-24x24" ></input>
                                    </a>
                                  </form>                  
                                </div>
                            </nav>
                          </div>
                        </article>
                    </div>
                <% }else { %>
                    <div class="box">
                        <article class="media">
                          <div class="media-left">
                            <figure class="image is-64x64">
                              <img src="positive-vote.svg" alt="Image" id="box_image">
                            </figure>
                          </div>
                          <div class="media-content">
                            <div class="content">
                            <p class="content_para">
                              <strong><%= idea.title %></strong> <small>@<%= user.username %></small>
                              <small class="deletedIdea"><%= idea.date%></small>
                              <br> 
                              <%= idea.description %> 
                            </p>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                  <form action="/undoIdea/<%= idea._id %>" method="POST" id="undo_idea">
                                    <a class="level-item" aria-label="retweet">
                                      <input type="image" src="undo.svg" class="image is-24x24"></input>
                                    </a>
                                  </form>
                                  <form action="/trash/<%= idea._id %>?_method=DELETE" method="POST" id="permanent-delete">
                                    <a class="level-item" aria-label="like" id="<%= idea._id %>">
                                      <input type="image" src="paper-shredder.svg" class="image is-24x24" ></input>
                                    </a>
                                  </form>                  
                                </div>
                            </nav>
                          </div>
                        </article>
                    </div>
                <% } %>
            <% })%>
        </div>
    </div>
  </div>
</div>